<a href="https://colab.research.google.com/github/hiyoung-t/21-2pythonCode/blob/main/Ch2_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####**학습목표**
1. 문자열(str) 타입 이해하기

###**문자열(str)**
- 여러 개의 문자를 순서대로 나열한 것
- 문자열은 '(작은따옴표)' 혹은 ""(큰따옴표) 사이에 문자를 넣어서 생성
  - ''' , """ (여러번 쓸경우) :
  여러 줄에 결쳐 문자열이 표현 가능
- 문자열 자체에 '," 있을 경우에는 그 반대의 기호로 생성

In [18]:
a = "Hello' World!"
b = 'Hello" World!'

c = '''Hello World

it is hayoung'''

d = """Hello World
it is hayoung"""

print(a)
print(b)
print(c)
print(d)

Hello' World!
Hello" World!
Hello World

it is hayoung
Hello World
it is hayoung

**이스케이프(escape) 문자**

* 탈출 효과를 주기 위해 문자열 내부에 넣는다
* `\n`: 엔터(다음줄)
* `\t`: tab

In [24]:
print('hello\n\nworld')
print('이렇게 엔터를\n치면 됩니다')
print('2학기 회장:\t 오상록')
print('1학기 회장:\t 전지설')

hello

world
이렇게 엔터를
치면 됩니다
2학기 회장:	 오상록
1학기 회장:	 전지설